{
  "extends": [
    "recommended/esnext",
    "recommended/esnext/style-guide"
  ],
  "rules": {
    "semi": "never",
    "indent": ["error", 2],
    "maxlen": {
      "code": ["error", 50]
    },
    "padding-line-between-statements": [
      "error",
      { blankLine: "always", prev: "var", next: "return" }
    ]
  }
}
