@font-face {
   font-family: 'digital-7';
   src: url('/digital-7.mono.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

body {
   margin: 20px;
   overflow: hidden;
   font-family: 'digital-7', monospace;
}

.wrapper {
  background: #999;
  padding: 7px;
  display: inline-block;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
}

.grid {
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.row {
  display: flex;
}

.cell {
  width: 12px;
  height: 13px;
  background: #ccc;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  line-height: 15px;
  font-size: 12px;
}

.cell.covered {
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
}

.digits {
  color: red;
  background: black;
  font-size: 36px;
  line-height: 31px;
  font-weight: 100;
  display: inline-block;
  height: 26px;
  position: relative;
}

.digits-bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.face-inner {
  width: 19px;
  height: 19px;
  line-height: 23px;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  left: 7px;
  top: 2px;
  position: relative;
  cursor: pointer;
}

.scoreBoard {
  display: flex;
  width: 134px;
  padding: 4px 5px;
  text-align: center;
  margin-bottom: 7px;
  background: #ccc;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.scoreBoard > div {
  flex: 1;
}
