@font-face {
  font-family: 'digital-7';
  src: url('./digital-7.mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 20px;
  overflow: hidden;
  font-family: 'digital-7', monospace;
}

.grid {
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.row {
  display: flex;
}

.cell {
  width: 12px;
  height: 13px;
  background: #ccc;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  font-family: monospace;
  font-weight: bold;
  font-size: 17px;
  line-height: 11px;
}

.cell.uncovered {
  border: 1px solid grey;
  padding: 1px;
}
.cell span {
  display: none;
}

.cell.flagged span,
.cell.uncovered span {
  display: block;
}

.cell.flagged span {
  font-size: 10px;
}

.digits {
  display: inline-block;
  position: relative;
}

.digits-numbers,
.digits-bg {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  background: black;
  font-size: 34px;
  font-weight: 100;
  line-height: 28px;
  height: 24px;
}

.digits-bg {
  opacity: 0.3;
}

.scoreBoard

.cell {
  font-family: monospace;
}

.cell💣 {
  line-height: 15px;
  font-size: 12px;
}

.cell0 {
  color: transparent;
}

.cell1 {
  color: blue;
}
.cell2 {
  color: green;
}
.cell3 {
  color: red;
}
.cell4 {
  color: blue;
}
.cell5 {
  color: brown;
}
.cell6 {
  color: teal;
}
.cell7 {
  color: black;
}
.cell8 {
  color: grey;
}
.selectedMine {
  background: red;
}
