@font-face {
  font-family: 'digital-7';
  src: url('./digital-7.mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 20px;
  overflow: hidden;
  font-family: 'digital-7', monospace;
}

.selectedMine {
  background: red;
}
